<div id="type-new-password" fxLayout="column">

    <div id="type-new-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="type-new-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/logo_2020_9.svg">
            </div>

            <div class="title">TYPE NEW PASSWORD</div>

            <form name="typeNewPasswordForm" [formGroup]="typeNewPasswordForm" (ngSubmit)="setNewPassword()" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput formControlName="newPassword" [type]="hide ? 'password' : 'text'" required>
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="typeNewPasswordForm.get('newPassword').hasError('required')">
                        Password is required
                    </mat-error>
                    <mat-error *ngIf="typeNewPasswordForm.hasError('required', 'password')">
                        Please enter your newpassword
                    </mat-error>
                </mat-form-field>
                <!-- <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput formControlName="confirmPassword" [type]="hide ? 'password' : 'text'" required>
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="typeNewPasswordForm.get('confirmPassword').hasError('required')">
                        Password is required
                    </mat-error>
                    <mat-error *ngIf="typeNewPasswordForm.hasError('notSame')">
                        Passwords do not match
                    </mat-error>  
                    
                </mat-form-field>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> Reveal
                <button mat-raised-button class="submit-button" color="accent"
                        aria-label="SEND RESET LINK" [disabled]="typeNewPasswordForm.invalid">
                    CONFIRM
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/pages/auth/login'">Go back to login</a>
            </div>

        </div>

    </div>

</div>
