<div align="center">
    <p>
        THFF supports organizations nationwide, with special interest in
        Colorado, Michigan and Florida.
    </p>
</div>
<div>
    <!-- states -->

    <mat-grid-list cols="3">
        <mat-grid-tile>
            <!-- colorado -->
            <img [src]="coloradoImage" width="50%" height="50%" />
        </mat-grid-tile>
        <mat-grid-tile>
            <!-- michigan -->
            <img [src]="michiganImage" width="50%" height="50%"
        /></mat-grid-tile>
        <mat-grid-tile>
            <!-- florida -->
            <img [src]="floridaImage" width="50%" height="50%"
        /></mat-grid-tile>
    </mat-grid-list>
</div>
