<div class="page-layout blank p-24" align="center" fusePerfectScrollbar>
    <div class="about">
        <div>
            <h2>About</h2>
        </div>

        <div class="w3-padding-32">
            <p>
                The Hagen Family Foundation (THFF) is a private family
                foundation established in 1999 that provides financial grants to
                not-for-profit organizations.
            </p>
        </div>

        <div>
            <p>
                THFF favors creative and innovative proposals in the areas of:
            </p>
            <div class="parts">
                <ul>
                    <li>The Arts</li>
                    <li>Education</li>
                    <li>Environment</li>
                    <li>Religion</li>
                    <li>Social Services</li>
                </ul>
            </div>
        </div>

        <div class="range">
            <p>
                THFF does not consider contributions to annual drives, capital
                campaigns, research, or the support of on-going programs. THFF
                supports organizations nationwide, with special interest in
                Colorado, Michigan and Florida. Grants range from $1,000 to
                $20,000.
            </p>
        </div>

        <div>
            <mat-grid-list cols="2" rowHeight="300px">
                <mat-grid-tile>
                    <div class="center">
                        <p>
                            Board of Directors
                        </p>
                        <br />

                        <ul style="list-style: none;">
                            <li>
                                David F. Hagen, President and Treasurer
                            </li>
                            <li>
                                Virginia L. Hagen, Vice President
                            </li>
                            <li>
                                Dr. Patricia Born, Secretary and Director
                            </li>
                            <li>
                                Rev. Dr. Andrew Hagen, Director
                            </li>
                            <li>
                                Laura C. Hagen, Director
                            </li>
                            <li>
                                Dr. Susan D. Hagen, Director
                            </li>
                            <li>
                                Dane Patterson, Director
                            </li>
                        </ul>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div>
                        <p>
                            Contact Information:
                        </p>
                        <br />
                        <p>The Hagen Family Foundation</p>
                        <!-- <br /> -->
                        <p>401 E. Linton Blvd. #257</p>
                        <!-- <br /> -->
                        <p>Delray Beach, FL 33483</p>
                        <!-- <br /> -->
                        <p>www.hagenfamilyfoundation.org</p>
                        <!-- <br /> -->
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <div>
            <div align="center">
                <div>
                    <p>
                        Public Information Requirements
                    </p>
                </div>
                <!-- TODO color-->
                <p>
                    The items listed here are formatted in the Adobe Acrobat
                    portable document format (PDF).
                <br />
                <a href="/assets/thffappfile.pdf"
                    >1023 Application for Tax Exempt Status</a
                >
                <br />
                <a href="/assets/tax_returns/TaxReturn_990-PF_2012.pdf"
                    >2012 Tax Return</a
                >
                <br />
                <a href="/assets/tax_returns/TaxReturn_990-PF_2011.pdf"
                    >2011 Tax Return</a
                >
                <br />
                <a href="/assets/tax_returns/TaxReturn_990-PF_2010.pdf"
                    >2010 Tax Return</a
                >
                <br />
                <a href="/assets/tax_returns/TaxReturn_990-PF_2009.pdf"
                    >2009 Tax Return</a
                >
                <br />
                <a href="/assets/tax_returns/TaxReturn_990-PF_2008.pdf"
                    >2008 Tax Return</a
                >
                <br />
                <a href="/assets/tax_returns/TaxReturn_990-PF_2007.pdf"
                    >2007 Tax Return</a
                >
                <br />
                <a href="/assets/tax_returns/TaxReturn_990-PF_2006.pdf"
                    >2006 Tax Return</a
                >
                <br />
                <a href="/assets/tax_returns/TaxReturn_990-PF_2005.pdf"
                    >2005 Tax Return</a
                >
                <br />
                <a href="/assets/tax_returns/TaxReturn_990-PF_2004.pdf"
                    >2004 Tax Return</a
                >
                <br />
                <a href="/assets/tax_returns/TaxReturn_990-PF_2003.pdf"
                    >2003 Tax Return</a
                >
                <br />
                <a href="/assets/tax_returns/TaxReturn_990-PF_2002.pdf"
                    >2002 Tax Return</a
                >
                <br />
                <a href="/assets/tax_returns/TaxReturn_990-PF_2001.pdf"
                    >2001 Tax Return</a
                >
                <br />
                <a href="/assets/tax_returns/TaxReturn_990-PF_2000.pdf"
                    >2000 Tax Return</a
                >
            </div>
        </div>
    </div>
</div>
