<div align="center">
    <div class="parent">
        <div class="left">
            <div class="grants">
                {{ grantCount }}
            </div>
            <div class="labels">
                Grants Awarded
            </div>
        </div>
        <div class="right">
            <div class="grants">
                {{ grantTotal | currency: "USD":"symbol":"1.0-2" }}
                Million
            </div>
            <div class="labels">Total Funds Awarded</div>
        </div>
    </div>

</div>
