p {
    white-space: pre;
    font-size: 20px;
    text-align: center;
}

span {
    margin-left: 3em;
}

.parent {
    display: flex;
    align-items: center;
}

.parent > div {
    flex: 1;
}

.grants {
  font-size:54px;
}

.labels {
  font-size:20px;
}