<div align="center">
    <div>
        <h2>About</h2>
    </div>
    <div>
        The Hagen Family Foundation (THFF) is a private family foundation
        established in 1999 that provides financial grants to not-for-profit
        organizations.
    </div>
    <div>
        THFF favors creative and innovative proposals in the areas of:

        <mat-list>
            <mat-list-item> The Arts </mat-list-item>
            <mat-list-item> Education </mat-list-item>
            <mat-list-item> Environment </mat-list-item>
            <mat-list-item> Environment </mat-list-item>
            <mat-list-item> Social Services </mat-list-item>
        </mat-list>
    </div>
</div>
