<mat-toolbar class="p-0 mat-elevation-z1">
    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
            <!-- Left Side Debug -->
            <!--- Hamburger -->
            <!-- <div *ngIf="!authService.isExpired()"> -->
            <button
                mat-icon-button
                class="navbar-toggle-button"
                *ngIf="!hiddenNavbar && !rightNavbar"
                (click)="toggleSidebarOpen('navbar')"
                fxHide.gt-md
            >
                <mat-icon class="secondary-text">menu</mat-icon>
            </button>

            <div
                class="toolbar-separator"
                *ngIf="!hiddenNavbar && !rightNavbar"
                fxHide.gt-md
            ></div>

            <div
                fxLayout="row"
                fxLayoutAlign="start center"
                *ngIf="horizontalNavbar"
            >
                <div class="logo ml-16">
                    <img
                        class="logo-icon"
                        src="assets/images/logos/logo_2020_9.svg"
                    />
                </div>
            </div>
            <!-- </div> -->

            <!--- End of Hamburger -->
            <div fxHide fxShow.gt-md>
                <button mat-button routerLink="/">
                    <mat-icon>home</mat-icon>
                </button>
            </div>
            <div
                fxFlex="1 0 auto"
                fxLayout="row"
                fxLayoutAlign="center"
                fxHide
                fxShow.gt-md
            >
                <button
                    mat-button
                    class="theme-options-button"
                    routerLink="/about"
                >
                    About
                </button>
                <button
                    mat-button
                    class="theme-options-button"
                    routerLink="/application"
                >
                    Application
                </button>
                <button
                    mat-button
                    class="theme-options-button"
                    routerLink="/contact"
                >
                    Contact
                </button>
            </div>
        </div>

        <!-- right side -->
        <div *ngIf="!authService.isExpired()">
            <div
                class=""
                fxFlex="0 1 auto"
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <button
                    mat-button
                    [matMenuTriggerFor]="userMenu"
                    class="user-button"
                >
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <!-- <img class="avatar mr-0 mr-sm-16" src="assets/images/avatars/Velazquez.jpg"> -->
                        <span class="username mr-12" fxHide fxShow.gt-sm>{{
                            userName
                        }}</span>
                        <mat-icon class="s-16" fxHide.xs
                            >keyboard_arrow_down</mat-icon
                        >
                    </div>
                </button>

                <!-- logan added -->
                <!-- <button mat-icon-button class="mat-elevation-z2 theme-options-button"
            (click)="toggleSidebarOpen('themeOptionsPanel')">
                <mat-icon>settings</mat-icon>
            </button>

            <button mat-icon-button class="mat-elevation-z2 theme-options-button" routerLink="/users">
                <mat-icon>settings</mat-icon>
            </button> -->

                <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
                    <button mat-menu-item>
                        <mat-icon>account_circle</mat-icon>
                        <span>My Profile</span>
                    </button>

                    <!-- <button mat-menu-item class="">
                    <mat-icon>mail</mat-icon>
                    <span>Inbox</span>
                </button> -->

                    <button mat-menu-item class="">
                        <mat-icon>exit_to_app</mat-icon>
                        <button mat-button (click)="authService.logout()">
                            Logout
                        </button>
                    </button>
                </mat-menu>
            </div>
            <!-- TODO -->
            <!-- <div class="toolbar-separator"></div> -->

            <!-- <fuse-search-bar (input)="search($event)"></fuse-search-bar>

            <div class="toolbar-separator"></div> -->

            <!-- <button mat-button fxHide fxShow.gt-xs
                    class="language-button"
                    [matMenuTriggerFor]="languageMenu">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img class="flag mr-8" [src]="'assets/icons/flags/'+selectedLanguage.flag+'.png'">
                    <span class="iso text-uppercase">{{selectedLanguage.id}}</span>
                </div>
            </button> -->

            <!-- <mat-menu #languageMenu="matMenu" [overlapTrigger]="false">

                <button mat-menu-item *ngFor="let lang of languages" (click)="setLanguage(lang)">
                    <span fxLayout="row" fxLayoutAlign="start center">
                        <img class="flag mr-16" [src]="'assets/icons/flags/'+lang.flag+'.png'">
                        <span class="iso">{{lang.title}}</span>
                    </span>
                </button>

            </mat-menu> -->

            <!-- <div class="toolbar-separator" fxHide fxShow.gt-xs></div> -->

            <!-- right side  -->
            <!-- <button mat-icon-button
                    class="quick-panel-toggle-button"
                    (click)="toggleSidebarOpen('quickPanel')"
                    aria-label="Toggle quick panel">
                <mat-icon class="secondary-text">format_list_bulleted</mat-icon>
            </button> -->

            <!-- <div class="toolbar-separator" *ngIf="!hiddenNavbar && rightNavbar" fxHide fxShow.gt-xs></div> -->

            <!-- <button mat-icon-button class="navbar-toggle-button"
                    *ngIf="!hiddenNavbar && rightNavbar" (click)="toggleSidebarOpen('navbar')" fxHide.gt-md>
                <mat-icon class="secondary-text">menu</mat-icon>
            </button> -->
        </div>
        <div *ngIf="authService.isExpired()">
            <div
                fxFlex="1 0 auto"
                fxLayout="row"
                fxLayoutAlign="start center"
                fxHide
                fxShow.gt-md
            >
                <button
                    mat-button
                    class="theme-options-button"
                    routerLink="/pages/auth/login"
                >
                    Login
                </button>
            </div>
        </div>
    </div>
    <!-- </div> -->
</mat-toolbar>
