<div class="page-layout blank p-24" fusePerfectScrollbar align="center">
    <div>
        <h3>View Organization</h3>
    </div>
    <div>
        <h4>Viewing Organization: {{ orgName }}</h4>
    </div>

    <div class="infowidth">
        <div *ngIf="org">
            <app-director-view-organization-info
                [org]="org"
            ></app-director-view-organization-info>
        </div>
    </div>
    <div class="infowidth">
        <mat-grid-list cols="2" [rowHeight]="basicRowHeight">
            <mat-grid-tile>
                <div class="loiswidth">
                    <div *ngIf="org">
                        <app-director-view-organization-lois
                            [org]="org"
                        ></app-director-view-organization-lois>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="doc501c3width">
                    <div *ngIf="org">
                        <app-director-view-organization-doc501c3
                            [org]="org"
                        ></app-director-view-organization-doc501c3>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
