<div class="page-layout blank p-24" align="center" fusePerfectScrollbar>
    <div class="contact">
        <div>
            <h2>Contact</h2>
        </div>
        <div class="contacttable">
            <!-- TODO
            <div>
                Contact Form In
            </div> -->
            <div>
                For any Technical Support inquiries refer to
                <a href="mailto:support@hagen.foundation" target="_top"
                    >support@hagen.foundation</a
                >
            </div>
            <br />
            <div>
                For any Grant inquiries refer to
                <a href="mailto:grants@hagenfamilyfoundation.org" target="_top"
                    >grants@hagenfamilyfoundation.org</a
                >
            </div>
            <br />
            <div>
                <p>
                    Contact Address:
                </p>
                <p>The Hagen Family Foundation</p>
                <p>401 E. Linton Blvd. #257</p>
                <p>Delray Beach, FL 33483</p>
            </div>
        </div>
    </div>
</div>
