<div class="page-layout blank p-24" align="center" fusePerfectScrollbar>
    <div class="about">
        <div>
            <h2>Contact</h2>
        </div>
        <div class="contacttable">
            <!-- <div>
                Contact Form In 
            </div> -->
            <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile>Any Support inquiries refer to</mat-grid-tile>
                <mat-grid-tile>
                    <a href="mailto:support@hagen.foundation" target="_top"
                        >Support</a
                    ></mat-grid-tile
                >
                <mat-grid-tile> Any Grant inquiries refer to</mat-grid-tile>
                <mat-grid-tile>
                    <a
                        href="mailto:grants@hagenfamilyfoundation.org"
                        target="_top"
                        >Grants</a
                    ></mat-grid-tile
                >
            </mat-grid-list>
        </div>
        <div>
            <p>
                Contact Address:
            </p>
            <p>The Hagen Family Foundation</p>
            <p>401 E. Linton Blvd. #257</p>
            <p>Delray Beach, FL 33483</p>
        </div>
    </div>
</div>
