<div class="page-layout blank" align="center" fusePerfectScrollbar>
    <!-- TODO -->
    <!-- <div>{{ env }} - {{ API }} - {{ InOrganization }} - {{ accessLevel }}</div> -->
    <div class="parent w3-padding-16">
        <div align="center" class="left">
            <img [src]="fullImagePath" width="150px" height="150px" />
        </div>
        <div align="center" class="right">
            <p>
                The Hagen Family Foundation provides financial grants to
                not-for-profit organizations in the areas of the arts,
                education, environment, religion, and social services.
            </p>
        </div>
    </div>

    <div align="center">
        <div class="row">
            <div class="column">
                <div class="blue-column">
                    <div class="desc">
                        <app-carousel></app-carousel>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div align="center">
        <!-- Grants Since -->
        <div class="w3-padding-32 w3-container grants-since">
            <div class="w3-content">
                <div>
                    <app-grants-since></app-grants-since>
                </div>
            </div>
        </div>
    </div>
    <div align="center">
        <div *ngIf="LoadedAPI">
            <!-- Grant Aggregate Data -->
            <div
                class="w3-row-padding w3-padding-32 w3-container grants-awarded"
            >
                <div class="w3-content">
                    <div>
                        <app-grants-awarded-total></app-grants-awarded-total>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div align="center">
        <div>
            <div
                id="about"
                class="w3-row-padding w3-padding-16 w3-container about-states"
            >
                <div class="w3-content">
                    <div>
                        <app-about-states></app-about-states>
                    </div>
                </div>
            </div>
            <div></div>
        </div>
        <!-- </div> -->
    </div>
</div>
