// .w3-margin {
//     margin: 16px !important;
// }
.w3-jumbo {
    font-size: 64px !important;
}
.w3-center {
    text-align: center !important;
}
.w3-xlarge {
    font-size: 24px !important;
}
.w3-container,
.w3-panel {
    padding: 0.01em 16px;
}

// .w3-row-padding,
// .w3-row-padding > .w3-half,
// .w3-row-padding > .w3-third,
// .w3-row-padding > .w3-twothird,
// .w3-row-padding > .w3-threequarter,
// .w3-row-padding > .w3-quarter,
// .w3-row-padding > .w3-col {
//     padding: 0 8px;
// }
// .w3-padding-16 {
//     padding-top: 16px !important;
//     padding-bottom: 16px !important;
// }
// .w3-padding-24 {
//     padding-top: 24px !important;
//     padding-bottom: 24px !important;
// }
.w3-padding-32 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}
// .w3-padding-48 {
//     padding-top: 48px !important;
//     padding-bottom: 48px !important;
// }
.w3-padding-64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}
// .w3-content,
// .w3-auto {
//     margin-left: auto;
//     margin-right: auto;
// }
// .w3-content {
//     max-width: 980px;
// }
// .w3-auto {
//     max-width: 1140px;
// }
// .w3-text-grey,
// .w3-hover-text-grey:hover,
// .w3-text-gray,
// .w3-hover-text-gray:hover {
//     color: #757575 !important;
// }
// .w3-red,
// .w3-hover-red:hover {
//     color: #fff !important;
//     background-color: #f44336 !important;
// }
// .middle {
//     color: #35363A !important;
//     background-color: #ebebe8 !important;
// }
.slideshow {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}
.grants-since {
    height: 50px;
    max-width: 1000px;
}
.grants-awarded {
    height: 300px;
    max-width: 1000px;
}
.about-states {
    height: 300px;
    max-width: 1000px;
}
p {
    white-space: pre;
    font-size: 18px;
}
