// .image {
//     height: 100px;
//     width: 900px;

//     // display: inline;
//     // position: relative;
//     // object-fit: cover;
// }

//not needed
// .image:hover {
//     transform: scale(1.025);
// }

img {
    width: 900px;
    height: 500px;
    overflow: hidden;
    // object-fit: cover;
}
